/*-- scss:defaults --*/
// importing fonts
//@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Yanone+Kaffeesatz&display=swap');

// fonts
$font-family-sans-serif: Helvetica, "Source Sans Pro", sans-serif !default;

// colors
//$body-bg: #333333 !default;
$body-color: #00326e !default;
$link-color: #fa2d6e !default;
//
//$code-bg: $body-color !default;
//$code-color: $body-bg !default;
//
//$code-block-bg: $body-color !default;
//$code-block-border-color: $body-color !default;

// headings
//$presentation-heading-font: 'Yanone Kaffeesatz',  Tahoma, sans-serif  !default;
$presentation-heading-color: #00326e !default;
//$h1-font-size: 1.3em !default;
//$h2-font-size: 1.0em !default;
//$h3-font-size: 0.75em !default;

/*-- scss:rules --*/

#title-slide {
  text-align: left;
  padding: 1.4rem 0 1.2rem 1.4rem;
  box-sizing: border-box;
}

#title-slide .quarto-title-authors, #title-slide .quarto-title-block {
  justify-content: unset;
  margin-left: -0.5em; /* Also needed for space (tweak if needed) */
}

#title-slide .title,
#title-slide .subtitle,
#title-slide .quarto-title-authors,
#title-slide .date {
  max-width: 58%;
}

#title-slide .institute, #title-slide .quarto-title-affiliation {
  font-style: italic;
  font-size: 80%;
}

#title-slide .author, #title-slide .quarto-title-author-name {
  color: #FFFFFF;
}

// this add a vertical line
//#title-slide p.author::before, #title-slide div.quarto-title-author::before {
//  content: "";
//  display: block;
//  border: none;
//  background-color: $body-color;
//  color: $body-color;
//  height: 3px;
//  margin-bottom: 1em;
//}

/* set horizontal line under header */
//.reveal .slide h2::after {
//  content: "";
//  display: block;
//  border: none;
//  background-color: #0ac8ff;
//  color: #0ac8ff;
//  height: 3px;
//  margin-bottom: 1em;
//}

.reveal .slide h2 {
  font-size: 36px;
}

.reveal .slides section:not(#title-slide) {
  padding-bottom: 1.6em;
  box-sizing: border-box;
}

#title-slide p, #title-slide a {
  color: #0ac8ff;
}

#title-slide .title{
  color: #FFFFFF;
  text-align: left;
  font-size: 2em;
  line-height: 1.1;
  margin: 0 0 0.5rem 0;
  border: none;
  border-radius: none;
  box-shadow: none !important;
}

#title-slide .subtitle{
  font-size: 1.05em;
  line-height: 1.2;
  margin: 0 0 3.6rem 0;
  border: none;
  border-radius: none;
  box-shadow: none !important;
}

#title-slide .quarto-title-authors {
  margin-top: auto;
}

#title-slide .quarto-title-author-name,
#title-slide .date {
  font-size: 0.95em;
}

// increase logo size
.reveal .slide-logo {
  height: 80px !important;
  //width: 100px!important;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal .custom-box {
    background-color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.reveal .caption-box {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-size: 15px;
}

.reveal .profile-item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 80px;
    padding: 0px;
    margin: 0px;
}

.reveal .final-slide h2 {
    color: #FFFFFF;
}
// remove horizonal line
.reveal .final-slide h2:after {
    border: none;
}

.reveal .footer {
  font-size: 12px;
  bottom: 10px;
}

.reveal blockquote {
  width: 100%;
  margin: 0.6em 0;
  padding: 0;
  font-size: 0.9em;
  font-style: normal;
  background: transparent;
}

// change bullet point colour
li {list-style: none;}

li::before {
    content: '\2022';
    color: #0ac8ff;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 0.5em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.title-logo-1 {
content: "";
    position: absolute;
    top: 872px;
    right: 550px;
    height: 280px;
    width: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../logos/EPSRC+logo.png);
}

.title-logo-2 {
content: "";
    position: absolute;
    top: 875px;
    right: 420px;
    height: 100px;
    width: 320px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://www.r-project.org/logo/Rlogo.png);
}
